<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish Upon A Star App</title>
</head>
<body>
    
    <h1>Welcome To Wish Upon A Star</h1>
    <h2>An app to find which star to wish on!</h2>

    <a href="/allStars">Click here to see a list of Stars</a>
    <br>
    <a href="/createOneStar">Create a new Star</a>


</body>
</html>